<div class = "navbar">
    <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/topics">Topics</a></li>
        <li><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
        <li><a class="nav-link" href="/account">Account</a></li>
        <div class="topnav-right">
            <li><a class="nav-link" href="/register">Register</a></li>
        </div>
        <div class="topnav-right">
            <li><a class="nav-link" href="/login">Log In</a></li>
        </div>
    </ul>
</div>