<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar.ejs"); %>
    <main>
      <% if(result) %>
      <%= `You Scored : ${result}` %>
      <br>
      <% if(rating) %>
      <%= rating %>
        <table class="sTable">
            <tr>
                <th>Topic</th>
                <th>Highest Score</th>
                <th>Name</th> 
            </tr>
            <% leader.forEach(score)
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </main>
</body>
</html>