<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Topics</title>
</head>
<body>
    <%- include("./partials/navbar.ejs", {loggedin: loggedin, email: email}); %>
    <main>
        <div class="container">
            <a class="topic" href="/quiz/1">Computer Science</a>
        </div>
        <div class="container">
            <a class="topic" href="/quiz/2">History</a>
        </div>
        <div class="container">
            <a class="topic" href="/quiz/3">General Knowledge</a>
        </div>
        <div class="container">
            <a class="topic" href="/quiz/4">Video Games</a>
        </div>
        <div class="container">
            <a class="topic" href="/quiz/5">Mythology</a>
        </div>
        <div class="container">
            <a class="topic" href="/quiz/6">Geography</a>
        </div>
    </main>
</body>
</html>