* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #efefef;
    text-align: center;
    line-height: 1.2;
}
ul {
    list-style-type: none;
    padding: 0 9% 0 8%;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
}
ul li {
    float: left;
    text-align: center;
}
.nav-link {
    display: block;
    color: white;
    background-color: #333333;
    padding: 12px 20px;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
}
li a:hover {
    background-color: #e04f5b;
}
.topnav-right {
    float: right;
}
.trivia {
    margin-top: 30px;
    font-size: 3em;
}
.container {
    display: block;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    float: left;
}
.topic {
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin: 15px;
    padding: 15px;
}
.sTable {
    margin-top: 8px;
    border-collapse: collapse;
    margin-bottom: 22px;
}
th, td {
    text-align: left;
    padding: 7px 24px;
    border-bottom: 1px solid black;
}
.textbox {
    line-height: 1.8;
}
.grnButton {
    text-decoration: none;
    font-size: 1em;
    color: white;
    background-color: #148b1e;
    border-radius: 7px;
    padding: 5px 15px;
}
.redButton {
    text-decoration: none;
    font-size: 1em;
    color: white;
    background-color: #942525;
    border-radius: 7px;
    padding: 5px 15px;
}
main {
    margin: 12px 30px;
    padding-left: 22%;
    padding-right: 22%;
}
.foot {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 4px;
    text-align: center;
    color: white;
    background-color: #424242;
    bottom: 0;
    left: 0;
    font-size: 0.9em
}
.left-align {
    text-align: left;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.4;
}
.inputfield {
    padding: 2px 5px;
    margin-bottom: 8px;
    border-radius: 5px;
}